Runtime Verification is collaborating with IOHK in building a virtual machine (KEVM) on the Cardano Blockchain...

### Sources
* <a href="https://iohk.io/en/blog/posts/2018/05/28/first-cardano-testnet-launches-for-smart-contracts/" target="_blank">iohk.io/en/blog/</a>
