---
title: Runtime Verification
---
<img src="/projects/business/Logo-RuntimeVerification.png" alt="Logo Runtime Verification" width="160" class="projects-logo" align="right"/>
Runtime Verification Inc. is a startup company aimed at using runtime verification-based techniques to perform security audits on virtual machines and smart contracts on public blockchains. It is dedicated to using its dynamic software analysis approach to improve the safety, reliability, and correctness of software systems in the blockchain field.

### Collaboration
The IOHK research and development team worked closely with runtime verification and with several students at the University of Illinois, led by Professor Rosu, to develop IELE to the highest mathematical standards using formal methods and state-of-the-art programming language theory. IELE’s design, definition, and implementation follow a semantics-first approach to implement the verification of smart contracts.

**The IELE Virtual Machine**

Technology will execute secure smart contracts in third-generation blockchain Cardano

Runtime Verification and IOHK have announced the official release of IELE, a next-generation virtual machine for the blockchain. IELE brings a high level of security and dependability to blockchain systems and reduces the risk of vulnerabilities that can lead to hacks.


<a href="http://www.youtube.com/watch?feature=player_embedded&v=Hq-hvaD6NSA
" target="_blank"><img src="/assets/images/video-player-bar-template.jpg" 
alt="K framework and Cardano" width="240" height="180" border="10" /></a>


### References & Sources
* <a href="https://runtimeverification.com/" target="_blank">runtimeverification.com/</a>
* <a href="https://runtimeverification.com/the-iele-virtual-machine/" target="_blank">runtimeverification.com/the-iele-virtual-machine/</a>
* <a href="https://developers.cardano.org/en/virtual-machines/iele/about/the-iele-virtual-machine/" target="_blank">developers.cardano.org</a>
* <a href="https://www.financedigest.com/runtime-verification-and-iohk-launch-virtual-machine-for-blockchains.html" target="_blank">financedigest.com</a>

